<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>newAnalysis</title>

  
</head><body>
<h2>Md-based Scattering Analysis</h2>

<table style="text-align: left; width: 794px; height: 144px;" border="1" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td>S(Q,E)_coh</td>
      <td>Coherent inelastic scattering
from md</td>
    </tr>
    <tr>
      <td>S(Q,E)_incoh</td>
      <td>Incoherent inelastic scattering
from md</td>
    </tr>
    <tr>
      <td>EISF</td>
      <td>Elastic Incoherent Structure
Factor from md</td>
    </tr>
    <tr>
      <td>S(Q)</td>
      <td>Structure Factor from md</td>
    </tr>
    <tr>
      <td>S(Q,E)</td>
      <td>Dynamic Structure Factor from
md. This is the sum of coherent and incoherent S(Q,E) parts.</td>
    </tr>
    <tr>
      <td>Multiphonon Scattering</td>
      <td>Add multiphonon scattering to an
S(Q,E)</td>
    </tr>
  </tbody>
</table>

</body></html>