<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>newAnalysis</title>  
</head>
<body>
<h2>Analysis using the maximum entropy technique</h2>
<table style="text-align: left; width: 794px; height: 144px;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td><a href="../sqeCoh/pickTrajectory">S(Q,E)_coh</a></td>
      <td>Coherent inelastic scattering from md
</td>
    </tr>
    <tr>
      <td><a href="sqeIncoh/pickTrajectory">S(Q,E)_incoh</a></td>
      <td>Incoherent inelastic scattering
from md</td>
    </tr>
    <tr>
      <td><a href="dynamicFunc/pickTrajectory">DOS, MSD Diffusion, VACF Diffusion</a>
</td>
      <td>Dynamics analysis including nuclear density of states,
mean squared displacement and Einstein (dilute) diffusion, the velocity
autocorrelation function and its diffusion
</td>
    </tr>
    <tr>
      <td><a href="dynamicSF/pickTrajectory">S(Q,E)</a></td>
      <td>Dynamic Structure Factor, which is the sum of coherent and incoherent S(Q,E) parts.</td>
    </tr>    
  </tbody>
</table>
</body>
</html>