/*  -*- CSS -*-  */

/* */
body {
    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
    margin: 0px;
}

/* widgets */

/* this is special for the accordion implementation using jQuery */
.ui-accordion .ui-accordion-content { 
}

.ui-widget {
    font-size: 0.9em;
}

/* toolbar */
.luban-toolbar {
    background-color: #e4d5d5;
}

.luban-toolbar .luban-button {
    background-color: transparent;
    border-style: none;
}

/* document */
.luban-document-title-text {
    font-size: 130%;
}
.luban-document.panel{
    border: solid 1px lightgray;
}
.luban-document.panel > .luban-document-body{
    margin-left:0;
    padding: 0.5em 0.2em 0.5em 1em;
}
.luban-document.panel > .luban-document-title {
    margin-left:0;
    background-color: lightblue;
}
.luban-document.panel > .luban-document-title > table{
    width: 100%;
    border-collapse:collapse;
}
.luban-document.panel > .luban-document-title > table .separator{
    width: 1em;
}
.luban-document.panel > .luban-document-title > table td > h1.luban-document-title-text {
    margin: 0;
    padding: 0.2em;
}
.luban-document.panel > .luban-document-title > table td.luban-document-title-controls{
    width: 2em;
    text-align: center;
}
.luban-document.panel > .luban-document-title > table td.luban-document-title-controls a{
    color: blue;
    font-size: 150%;
    padding: 0 0.3em;
}
.luban-document.panel > .luban-document-title > table td.luban-document-title-controls a:hover{
    cursor: pointer;
}
.luban-document.panel > .luban-document-title > table td.luban-document-title-controls > table {
    border-collapse:collapse;
}

.panel.luban-document.highlighted >.luban-document-title {
    background-color:#88b0bc;
}
.panel.luban-document.highlighted > .luban-document-body {
border-color:#88B0BC;
}


a.luban-link {
    color: blue;
}

a.luban-link:hover{
    text-decoration: underline;
}

.luban-portlet-padding{
    padding: 1em 0 0 1em;
}


.luban-portlet{
    border:medium none;
    margin-bottom:1em;
    padding:0;
}

.luban-portlet-title {
    margin: 0px;
    display: inline;
    padding: 0px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #8CACBB;
    background: #DEE7EC none repeat scroll 0 0;
}

.luban-portlet-body {
    background: transparent none repeat scroll 0 0;
    border-color: #8CACBB;
    border-width:1px;
    border-style:solid;
    border-collapse:collapse;
    padding:1em 0;
}

.luban-portlet a {
    display: block;
    background-color:transparent;
    color:#436976;
    text-decoration:none;
}

.luban-portletitem-container{
    padding: 2px 1em;
}

.luban-portletitem-content{
}

.luban-portletitem-content:hover{
}

.luban-portletitem-content a{
    padding: 2px;
    border-width: 1px;
    border-style: dotted;
    border-color: #8CACBB;
}

.luban-portletitem-container.selected .luban-portletitem-content a{
    border-style: solid;
    background-color: #eee;
}

.luban-portletitem-content a:hover{
    border-style: solid;
    background: #DEE7EC none repeat scroll 0 0;
}

.luban-portletitem-icon-container{
    display: inline;
}

.luban-portletitem-text {
    margin: 0px 5px;
}


/* button */
.luban-button {
    cursor: pointer;
    font-size: 100%;
    padding: 1px 5px 1px 5px;

    border-top: 1px solid white;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #333333;
    border-left: 1px solid white;
    background-color: #758273;
    color: white;    
}


/* upload button */
.luban-uploader-button {
    cursor: pointer;
    font-size: 100%;
    padding: 1px 5px 1px 5px;

    border-top: 1px solid white;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #333333;
    border-left: 1px solid white;
    background-color: #758273;
    color: white;    
}

/* special panels */
#luban-----loadingdiv {
    background-color:transparent;
    position:fixed;
    z-index:1000000;
    background-image:url('luban/spinning-wait-icons/wait30trans.gif');
    background-repeat:no-repeat;
    width:30px;
    height:30px;
/* 
   font-size:125%; 
   -moz-border-radius:9px;
*/
}

/* form */
fieldset {
    border-style: solid;
    border-color: cadetBlue;
    border-width: 1px;
    line-height:1.5em;
    margin:1em 0;
    padding:0 1em 1em;
    width:auto;
}

/* common for all fields */
.luban-formfield {
    margin: 0 1em 1em 0;
}

/* label */
label {
    font-weight: bold;
}

/* error and help */
.luban-formfield .error {
    /* Class for error indication in forms */
    position: absolute;
    z-index: 100;
    border: 2px solid #999999;
    padding: 0.1em 0.3em;
    font-family: Times, "Times New Roman", serif;
    font-size: 103%;
    border-color: #ffa500;
    color: darkBlue;
    cursor: pointer;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    /* for IE */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
    background-color:white;
}
.luban-formfield .error-sign {
    font-weight: bold;
    color: red;
    cursor: pointer;
    padding: 2px;
}

.luban-formfield .help{
    font-family: Times, "Times New Roman", serif;
    font-size: 100%;
    margin: 0 0 0.2em 0;
    color: #76797c;
    text-decoration: none;
    display: block;
}

.luban-formfield a.help:hover{
    cursor: default;
    color: Black;
}

/* specific to each type of fields */
.luban-formcheckbox p.label {
    display: inline;
}

.luban-submitbutton-container {
    padding: 15px 2px;
}


/* input fields */
select, input, textarea {
    border-style: solid;
    border-width: 1px;
    border-color: lightBlue;
    height: 2em;
}


/* disabled ui elements */
input[disabled] {
    border-color: gray;
    border-style: dotted;
}

select[disabled] {
    border-color: gray;
    border-style: dotted;
}

textarea[disabled] {
    border-color: gray;
    border-style: dotted;
}



/* dialog*/
.luban-dialog {
    width: 80%;
}
.luban-dialog .luban-button-container {
    text-align: center;
}
.luban-dialog .luban-button-container .luban-button {
    padding: 2px 18px;
    color: white;
}


/* dock */
.luban-dock {
background-color:lightGrey;
min-height:1.5em;
position:fixed;
bottom:2px;
left:0;
right:0;
z-index: 100000;

filter:alpha(opacity=60);
opacity:0.6;
}
.luban-dock table > tbody > tr > td {
border:2px solid #777777;
padding:0.2em 0.5em;
-moz-border-radius:0.5em;
-webkit-border-radius:0.5em;
cursor:pointer;
}


.luban-document.dockable {
    position: absolute;
    left: 5em;
    top: 5em;
    width: 70%;
    height: auto;
    background-color: white;
    overflow: hidden;
/*
filter:alpha(opacity=70);
opacity:0.7;
*/
}

.luban-document.dockable a.dock {
    color: blue;
    cursor: pointer;
    padding: 0 0.5em 0 0.2em;
}



/* news ticker */

.luban-newsticker {
    border:1px dashed #555555;
    background:#eeffee;
    max-width:22em;
    margin-right:2em;
    margin-left:auto;
}
.luban-newsticker table {
    border-collapse:collapse;
}
.luban-newsticker table td {
    padding:0;
}
.luban-newsticker .title {
    font-size:0.85em;
    padding:0 1em;
    color:#ff9999;
}
.luban-newsticker .newsticker {
    cursor:pointer;
    font-size:0.75em;
    list-style-type:none;
    margin:0;
    padding:3px;
}


/* misc */
li {
    margin: 4px 1px;
}


/* orm */
.object-editor.luban-document.panel {
    border: 2px solid #555555;
    background-color:#E5E5E5;
}
/* apply to all document inside object editor*/
.object-editor .luban-document {
    margin: 0.5em 0;
    border: 1px solid lightgrey;
}
.object-editor .luban-document-body{
    margin-left:0;
    padding: 0.5em 0.2em 0.5em 1em;
}
/* apply to all document title inside object editor */
.object-editor .luban-document > .luban-document-title {
    padding:0.1em;
    margin:0;
    background-color:lightGrey;
}
/* apply to all document tilte text */
.object-editor .luban-document-title-text {
    font-size: 100%;
    font-weight: normal;
}
/* properties */
.object-properties.luban-document {
    background-color:#fafafa;
}
.object-properties.luban-document > .luban-document-title {
    background-color:lightGrey;
}
/* reference */
.referred-object.luban-document {
    background-color:lightYellow;
}
.referred-object.luban-document > .luban-document-title {
    background-color:lightGrey;
}
/* reference set */
.object-referenceset.luban-document {
    background-color:#eeffff;
}
.object-referenceset.luban-document > .luban-document-title {
    background-color:lightGrey;
}
.object-referenceset-item.luban-document {
    background-color:#ffffff;
}
/* */
.object-editor .container.luban-document {
    margin:0;
    padding:0;
    border: none;
}
.object-editor .container.luban-document > .luban-document-body {
    margin:0;
    padding:0;
}
.object-editor .container.luban-document > .luban-document-body > .luban-document {
    margin:0 0 0.5em 0;
}
/* form */
.object-editor form.luban-form > fieldset {
    border: none;
    margin:1em 0 0;
    padding:0 1em;
}
.object-editor form.luban-form .luban-formfield {
    margin:0;
}

/* for polymorphic reference */
.object-editor .luban-document-title .luban-formfield {
    margin: 0;
}
.object-editor .luban-document-title table {
    border-collapse:collapse;
}

.object-editor .luban-document .body {
    padding:0;
    margin:0;
    border:none;
}


/* version */
/* $Id$ */

/* End of file  */
