/*  -*- CSS -*-  */


/* vasp advanced form */
.skip-link {
    text-align: right;
    float: right;
}

#simulations-list a {
    display: block;
}

/* Vinil CSS*/

/* overload the default behavior of luban for buttons */
.luban-button-container,
.luban-button-container a{
    text-decoration: none;
    padding: 3px 5px;
    margin: 3px 5px 3px 0px;
    float: left;
}

.luban-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #eeeeee;
    border: 1px outset;
    padding: 2px 5px;
    color: #333333;
}

.clear-both {
    clear: both;
}

.display-inline a,
.display-inline p{
    margin: 0px;
    float: left;
}

.display-block,
.display-block a,
.display-block p{
    display: block;
}

/*
.action-link,
.action-link a{
    border-color: #cced8c;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:  50px;
    padding: 0px 2px;
}
*/


/* version */
/* $Id$ */

/* End of file  */
