/*  -*- CSS -*-  */

/* overview */
#atomicstructure-info-section {
    margin: 0.8em 0;
    padding: 0.5em;
    background-color: #f5f5f5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
#atomicstructure-info-section .luban-splitter {
    width:auto;
}
#atomicstructure-info-section .luban-splitter td {
    vertical-align:top;
    font-size:0.88em;
    padding: 0 0.5em;
}
/* "name" section */
#atomicstructure-name-container {
    width:20em;
    border-right:dotted 2px grey;
}
#atomicstructure-name-field {
width:15em;
}
#atomicstructure-name-field .luban-formtextfield table {
border-collapse:collapse;
}
#atomicstructure-name-field .luban-formtextfield * {
margin:0;
padding:0;
}
#atomicstructure-name-field input {
width:10em;
padding:0;
margin:0;
height:1.5em;
}
/* title */
#atomicstructure-info-section h1.luban-document-title {
    text-transform:uppercase;
    font-size:0.8em;
    font-weight:bold;
    margin-bottom:0.8em;
}
/* document interior*/
.atomicstructure-info-subsection.luban-document > div {
    padding: 0.1em 0.5em;
}
/* link sections */
.editlink-container-container {
    width: 4em;
}
.editatoms-container-container {
    width: 8em;
}
/* input widgets */
#atomicstructure-info-section .luban-formfield {
    margin:0;
}
#atomicstructure-info-section textarea {
    height:5em;
    min-height:3em;
    width:80%;
    max-width:90%;
}
/* texts */
#atomicstructure-info-section p {
    margin:0;
}
.lattice-vector p{
    font-family: monospace;
    font-size: 1.3em;
}



/* editor */
#edit-atomic-structure-form  .master-controls {
text-align:right;
font-size:1.1em;
margin:0.3em 2em;
}
#edit-atomic-structure-form  .master-controls a {
margin:1em;
}

/* version */
/* $Id$ */

/* End of file  */
