/*  -*- CSS -*-  */


/* vasp advanced form */
.skip-link {
    text-align: right;
    float: right;
}

#simulations-list a {
    display: block;
}

/* Temp CSS*/
.action-link {
    padding: 0px 2px;
}


/* version */
/* $Id$ */

/* End of file  */
