/*  -*- CSS -*-  */

#atomicstructure-info-section {
    margin: 0.8em 0;
    padding: 0.5em;
    background-color: #f5f5f5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
#atomicstructure-info-section .luban-splitter {
    width:95%;
}
#atomicstructure-info-section .luban-splitter td {
    vertical-align:top;
    font-size:0.88em;
}
/* sizes */
#atomicstructure-name-container {
    width:30%;
}
#atomicstructure-lattice-container {
    width:35%;
    border-left:1px dashed;
    padding-left:1em;
    border-right:1px dashed;
}
#atomicstructure-atoms-container {
    padding-left:1em;
    width:35%;
}
/* title */
#atomicstructure-info-section h1.luban-document-title {
    text-transform:uppercase;
    font-size:0.8em;
    font-weight:bold;
    margin-bottom:0.8em;
}
/* document interior*/
.atomicstructure-info-subsection.luban-document > div {
    padding: 0.1em 0.5em;
}
/* link sections */
.editlink-container-container {
    width: 4em;
}
.editatoms-container-container {
    width: 8em;
}
/* input widgets */
#atomicstructure-info-section .luban-formfield {
    margin:0;
}
#atomicstructure-info-section textarea {
    height:5em;
    min-height:3em;
    width:80%;
    max-width:90%;
}
/* texts */
#atomicstructure-info-section p {
    margin:0;
}
.lattice-vector p{
    font-family: monospace;
    font-size: 1.3em;
}



/* collapsable */
.collapsable.luban-document {
-moz-border-radius:1em;
-webkit-border-radius:1em;
padding:0.3em;
border:solid 1px #ccc;
}
.collapsable.luban-document .collapsable.luban-document {
margin:0.5em;
padding:0.3em;
border:none;
border-left:1px solid;
}
.collapsable.luban-document .titlebar {
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-bottom:1px solid #ddd;
}
.collapsable.luban-document .titlebar table {
border-collapse:collapse;
}
.collapsable.luban-document .titlebar table td {
}
.collapsable.luban-document .titlebar p {
margin-left:0em;
margin-top:0.2em;
margin-bottom:0.2em;
padding:0.1em 0.2em;
-moz-border-radius:7px;
-webkit-border-radius:7px;
font-size:0.85em;
}
.collapsable.luban-document .titlebar a {
margin:0.5em;
}
.collapsable.luban-document .titlebar .controls-container {
width:3em;
}

/* version */
/* $Id$ */

/* End of file  */
