/*  -*- CSS -*-  */


/* object editor */
.object-editor .object-referenceset.luban-document{
    background-color: transparent;
}
.object-editor .object-referenceset.container > .luban-document-body{
    background-color: transparent;
}
.object-editor .container.luban-document > .luban-document-body > .object-referenceset-item.collapsable.luban-document {
    margin-left: 1em;
}
.object-editor .controls.luban-document > .luban-document-body {
    margin:0.5em 0;
    padding:0;
}
.object-editor .controls.luban-document {
    background-color:transparent;
    border:none;
    padding:0;
}
.object-editor form.luban-form fieldset {
    margin:0;
}
.object-editor .highlighted {
    border: 1px solid red;
}
.object-editor .highlighted.luban-document {
    border: 1px solid red;
}

/* panel */
.panel.luban-document {
-moz-border-radius:1em;
-webkit-border-radius:1em;
padding:0;
border:solid 1px #ccc;
margin-bottom:0.5em;
}
.panel.luban-document > .luban-document-title {
    -moz-border-radius: 1.2em 1.2em 0 0;
    -webkit-border-top-left-radius: 1.2em;
    -webkit-border-top-right-radius: 1.2em;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    font-size: 0.73em;
    background-color: lightGrey;
}
.panel.luban-document > .luban-document-body {
    -moz-border-radius-bottomleft:1em;
    -moz-border-radius-bottomright:1em;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border: 1px solid lightgrey;
    border-top: none;
}
.panel.luban-document .panel.luban-document {
padding:0;
border:none;
}
.panel.luban-document .titlebar {
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-bottom:1px solid #ddd;
}
.panel.luban-document .titlebar table {
border-collapse:collapse;
}
.panel.luban-document .titlebar table td {
}
.panel.luban-document .titlebar p {
margin-left:0em;
margin-top:0.2em;
margin-bottom:0.2em;
padding:0.1em 0.2em;
-moz-border-radius:7px;
-webkit-border-radius:7px;
font-size:0.85em;
}
.panel.luban-document .titlebar a {
margin:0.5em;
}
.panel.luban-document .titlebar .controls-container {
width:3em;
}


/* version */
/* $Id$ */

/* End of file  */
