/*
This is CSS layout for start page
*/


body {
    background-color: white;
    margin: 0;
}


#body-wrapper {
    margin: 1em;
}


#preview-row {
    height: 22em;
}
#preview-row img{
    height: 21.5em;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    margin-bottom: 1em;
}

#apps-row {
    height: 8em;
}
#apps-row td {
    background-color: #DDDDDD;
    border: 0.5em solid white;
    color: white;
    text-align: right;
    text-shadow: none;
    vertical-align: bottom;
    min-width: 12em;
    padding: 0 0.5em 0.3em 0;
    cursor: pointer;
}

#apps-row td.focused {
    background-color: #555;
}
#apps-row td div {
    margin-left: 1em;
    font-size: 1.6em;
    font-family: fantasy;
    font-weight: bold;
    
}
/* vnf main is special */
td#vnf-main {
    background-color: #ccd5c0;
}


#apps-info td {
    cursor: pointer;
    font-size: 0.75em;
    font-family: arial;
    vertical-align: top;
    color: #555;
    padding: 1em;
}
#apps-info td.focused {
    color: #005000;
}

#intro-container {
    margin-top: 1em;
    padding: 1em;
    max-width: 40em;
}

#intro-link {
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    margin-bottom: 1em;
}
#intro-link:hover{
    color: #005000;
}