/*  -*- CSS -*-  */

/* editor */
/* matter selector */
#sample-matter-selector-doc {
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-color:#e5e5e5;
border:1px solid lightGrey;
font-size:90%;
margin-left:2em;
max-width:70%;
padding:1em;
}
#sample-matter-selector-doc table {
width:auto;
}
#sample-matter-selector-doc #view-indicator {
min-width:4em;
}
#sample-matter-selector-doc .master-table-title-bar {
font-size:80%;
}
#sample-matter-selector-doc .master-table {
font-size:100%;
text-align:center;
width:90%;
}
#sample-matter-selector-doc .luban-button-container {
margin-top:1.5em;
}
#sample-matter-selector-doc #atomicstructure-selector-container {
-moz-border-radius:8px;
-webkit-border-radius:8px;
background-color:white;
padding:3px;
}
#sample-matter-selector-doc .master-table td {
padding:0 2em;
}
/* shape editor */
#scatterer-shape-type-selector-doc table {
border-collapse:collapse;
}
#scatterer-shape-type-selector-doc .luban-toolbar {
background-color:transparent;
}
#scatterer-shape-type-selector-doc .luban-button-container {
margin:0;
padding:0;
}
#scatterer-shape-type-selector-doc .luban-button-container.highlight {
border:1px solid lightgreen;
}
#scatterer-shape-type-selector-doc .luban-button-container:not(.highlight) a.luban-button:hover {
background-color:#f0f0f0;
}

/* version */
/* $Id$ */

/* End of file  */
