/*  -*- CSS -*-  */

#login-body-doc {
    font-size: 1.2em;
}

#login-body-doc > .luban-document-title-text {
font-size:1.7em;
}

#login-body-left {
    vertical-align: top;
    padding: 2em 1em 1em 0;
}

#login-body-right {
    vertical-align: top;
}

#login-form {
    text-align: right;
    font-size: 0.8em;
    min-width: 30em;
}
#login-form fieldset {
padding:1em 0 0em 1em;
background-color: lightYellow;
}

#login-form legend {
    background-color: transparent;
    color: gray;
}

#login-username-input table {
    margin-left:auto;
    margin-right:-1em;
}
#login-username-input table * {
    padding:0;
}
#login-username-input .error {
    padding:0.4em 0.5em;
    opacity:1;
}

#login-password-input table {
    margin-left:auto;
    margin-right:-1em;
}
#login-password-input table * {
    padding:0;
}
#login-password-input .error {
    padding:0.4em 0.5em;
    opacity:1;
}

#login-form input {
    border-width:0.18em;
    font-family:monospace;
    font-size:1.25em;
    height:2em;
    width:13em;
    padding: 0 0.5em;
    text-align: right;
}
#login-form .luban-formfield  {
    margin:0 1em;
}

#login-form .luban-submitbutton-container  {
    padding: 0.5em 0 0 0;
}
#login-form input[type=submit] {
    height: 2.5em;
    width: 8em;
    border-style: outset;
    border-width: 1px;
    background-color: lightGray;
    font-size: 1.1em;
    margin-right: 1em;
    text-align: center;
}

#login-form fieldset > p {
color:gray;
}

#header-userinfo a.luban-link.invisible {
    color: transparent;
}

#frontpage-portlet .luban-portlet-body {
    border:medium none;
    font-size:0.8em;
    text-align:right;
}

#frontpage-portlet .luban-portletitem-container {
    padding:0.2em 0 0.1em 0;
}

#frontpage-portlet .luban-portletitem-content a  {
    color:#004455;
}

#front-page-vnf-intro-container .luban-document-title {
    color:#229999;
}

#front-page-vnf-intro-container .luban-document-body {
    font-size:0.8em;
    font-family:Helvetica;
    color:#555555;
    line-height:1.6em;
}

/* version */
/* $Id$ */

/* End of file  */
