<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/pyreDv/vnf/html/test.html}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:pyreDv/vnf/cgi/main.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="${workspace_loc:pyreDv/vnf/cgi}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--actor=sampleInput --sentry.username=jbrkeith --sentry.passwd=678yui --cgihome=http://trueblue.caltech.edu/cgi-bin/vnf/main.cgi --routine=storeAndVerifyMatterInput --listOfAtoms='Mn 0 0 0\nMn 2 2 2\n' -coordinatesType='cartesian' --ax='3' --ay='0' --az='0'  --bx='0' --by='3' --bz='0'  --cx='0' --cy='0' --cz='3' --sampleInput.sampleId=WLGSZ --sampleInput.form-received=polycrystal"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:pyreDv/vnf/cgi}"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="vnfBetaLuban"/>
</launchConfiguration>
