/*  -*- CSS -*-  */

#login-body-doc {
    font-size: 1.2em;
}

#login-body-doc > .luban-document-title-text {
font-size:1.7em;
}

#login-body-left {
    vertical-align: top;
    padding: 2em 4em 1em 0;
}

#login-body-right {
    vertical-align: top;
}

#login-form {
    text-align: right;
    font-size: 0.8em;
    min-width: 30em;
    background-color: #ccffcc;
    margin-bottom: 0;
    padding-top: 1em;
}
#login-form fieldset {
padding: 0 1em;
background-color: transparent;
}

#login-form legend {
    background-color: transparent;
    color: gray;
}

#login-username-input table {
    margin-left:auto;
    margin-right:-1em;
}
#login-username-input table * {
    padding:0;
}
#login-username-input .error {
    padding:0.4em 0.5em;
    opacity:1;
}

#login-password-input table {
    margin-left:auto;
    margin-right:-1em;
}
#login-password-input table * {
    padding:0;
}
#login-password-input .error {
    padding:0.4em 0.5em;
    opacity:1;
}

#login-form input {
    border-width:0.18em;
    font-family:monospace;
    font-size:1.25em;
    height:2em;
    width:13em;
    padding: 0 0.5em;
    text-align: right;
}
#login-form .luban-formfield  {
    margin:0 1em;
}

#login-form .luban-submitbutton-container  {
    padding: 0.5em 0 0 0;
}
#login-form input[type=submit] {
    height: 2.5em;
    width: 7em;
    border-style: outset;
    border-width: 1px;
    background-color: lightGray;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 1em;
    text-align: center;
}

#login-form fieldset > p {
color:gray;
}

#header-userinfo a.luban-link.invisible {
    color: transparent;
}

#frontpage-document > div.luban-document-body {
    margin-left:4em;
}

.frontpage-document p.first {
    margin-top:1em;
}
.frontpage-document p {
    margin-bottom:0.3em;
    margin-top:0.3em;
}

#frontpage-portlet  {
    padding:0;
}
#frontpage-portlet .luban-portlet-body {
    border:medium none;
    font-size:0.8em;
    text-align:right;
}

#frontpage-portlet .luban-portletitem-container {
    padding:0.2em 0 0.1em 0;
}

#frontpage-portlet .luban-portletitem-content a  {
    color:#004455;
}

#frontpage-portlet .luban-portlet {
    margin-bottom: 0;
}

/* link "documentation" */
#front-page-portlet-container div[luban-element-type="htmldocument"] {
    font-size:0.8em;
    padding-bottom:0.6em;
    text-align:right;
}

#front-page-portlet-container div[luban-element-type="htmldocument"] a {
    color:#004455;
    text-decoration:none;
    padding-right:0.3em;
}

#front-page-vnf-intro-container .luban-document-title {
    color:#229999;
}

#front-page-vnf-intro-container .luban-document-body {
    font-size:0.8em;
    font-family:Helvetica;
    color:#555555;
    line-height:1.6em;
}

#front-page-central-display > div.luban-document-body > div.alternating-bg:nth-child(odd) {
    background-color:e0eeff;
    padding:0 1em 1em;
}
#front-page-central-display > div.luban-document-body > div {
    background-color:white;
    padding:0 1em 1em;
}

/* registration */
#registration-document{
    margin-left: 1em;
}
#registration-form {
    margin-top: 1em;
}
#registration-doc-description {
    color: #555555;
}

/* about */
#about-dialog {
    font-family: lucida sans;
    font-size: 0.9em;
    text-align: center;
    width: 30em;
}
#about-dialog .luban-document-title {
    font-size:1.5em;
    font-weight:bold;
}
#about-dialog .luban-button {
    border:1px solid #bbbbbb;
}

/* frontpage documents (from rst) */
.frontpage-document {
    font-size:0.85em;
}
.frontpage-document > h1 {
    font-size:0.9em;
    text-transform:lowercase;
    font-weight:bold;
}
.frontpage-document > div h2 {
    font-size:1em;
    font-weight:bold;
}
.frontpage-document > ul {
    padding-left:5em;
}
.frontpage-document > div > h1{
    font-size:1.2em;
    font-style:italic;
}
.frontpage-document > div {
    margin-left:4em;
}
.luban-document.section > h1{
    font-size:1.2em;
    font-style:italic;
}

/* footnote */
#front-page-footnote-container {
    margin-top: 1em;
    font-size:0.8em;
    font-family:Helvetica;
    color:#555555;
    line-height:1.6em;
}

/* status */
#vnf-webportal-status .icon > .luban-image {
    width: 1em;
}
#vnf-webportal-status .luban-grid table {
    margin-left: 2em;
    width:80%;
}
#vnf-webportal-status .luban-grid table td.icon {
    width: 1.1em;
}

/* version */
/* $Id$ */

/* End of file  */
