/*  -*- CSS -*-  */


/* vasp advanced form */
.skip-link {
    text-align: right;
    float: right;
}

#simulations-list a {
    display: block;
}

#action-edit a{
    background-color: #33DD33; /* deep green */
}

#action-delete a{
    background-color: #FF7700; /* light red */
}

#action-clone a {
    background-color: #FFCC00; /* orange */
}

/* Vinil CSS*/

/* overload the default behavior of luban for buttons */
#error-area,
#input-error-area {
    color: red;
}

.clear-both {
    clear: both;
}

.display-inline a,
.display-inline p{
    margin: 0px;
    float: left;
}

.display-block,
.display-block a,
.display-block p{
    display: block;
}


.action-link {
    border-color: #cced8c;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:  50px;
    padding: 0px 2px;
}



/* version */
/* $Id$ */

/* End of file  */
