/*  -*- CSS -*-  */

/* matter list */
/* navigation bar */
#matter-table-navigation-bar {
    /*
    height: 30px;
    width: 240;
    */
    height: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: 1px;
}
#matter-table-navigation-bar > table.luban-splitter {
    width: auto;
    margin: 0 1px 0 auto;
}
#matter-table-navigation-bar > table.luban-splitter tr{
}
#matter-table-navigation-bar > table.luban-splitter td{
    width: auto;
    padding: 0 10px;
}
#matter-table-navigation-bar > table.luban-splitter td a{
    margin: 0;
}
#matter-table-navigation-bar > table.luban-splitter td p{
    margin: 0;
}


#matter-table-navigation-bar-left, #matter-table-navigation-bar-right{
    width: auto;
    text-align: center;
}
#matter-table-navigation-bar-middle{
    width: auto;
    text-align: center;
    color: #666666;
}



/* controls */
#matter-table-controls {
    /*
    height: 30px;
    width: 240;
    */
    height: auto;
    max-width: 400px;
    margin-left: 1px;
    margin-right: auto;
}
#matter-table-controls > table.luban-splitter {
    width: auto;
    margin: 0 auto 0 1px;
}
#matter-table-controls > table.luban-splitter tr{
}
#matter-table-controls > table.luban-splitter td{
    width: auto;
    padding: 0 10px;
}
#matter-table-controls > table.luban-splitter td .formfield{
    margin: 0;
}
#matter-table-controls > table.luban-splitter td a{
    margin: 0;
}
#matter-table-controls > table.luban-splitter td p{
    margin: 0;
}

#matter-table-controls div.label-container {
    color: #888888;
    font-size: 90%;
}

#matter-table-filter input {
    width: 250px;
}

#matter-table-controls input {
    border-color: #cced8c;
    border-width: 2;
}

#matter-table-controls select {
    border-color: #cced8c;
    border-width: 2;
}

/* table itself */
#matter-table {
    width: 100%;
}

#matter-table thead {
    color: #888888;
}

/* single matter view */
#matterdoc {
    max-width: 100%;
    min-width: 70%;
}


#matterdoc-titlecontainer table.luban-splitter {
    width: auto;
    margin: 0;
}
#matterdoc-titlecontainer table.luban-splitter td{
    margin: 0;
}
#matterdoc-title p {
    font-size: 90%;
    font-family: sans-serif;
    font-style:italic;
    font-weight:bold;
    margin: 0;
}
#matterdoc-title p a{
    color:black;
    font-size:130%;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}
#matterdoc-title-extra div.luban-splitsection-interior-container {
    padding: 0;
}
#matterdoc-change-matter-name-link {
    font-size: 60%;
    font-family: sans-serif;
    font-style: italic;
    color: #888888;
}
#matterdoc-change-matter-name-link:hover {
    color: #222222;
    font-size: 80%;
    font-style: normal;
    text-decoration: none;
}
#matter-description-input {
    margin: 0;
}

#matterviewpanel {
    width: 30%;
}

#mattersimspanel {
    width: 70%;
    vertical-align: top;
}

#mattersimsdoc {
    width: 100%;
}

#matsimstablecontainer {
    min-height: 300;
    max-height: 600;
    overflow: scroll;
}


/* version */
/* $Id$ */

/* End of file  */
