/*
This is CSS layout for EPSC pages
*/

/* Form */
.epsc-lattice-label {    
}

.epsc-lattice-field input {
    width: 60px;
    margin-right: 8px;
    margin-left: 3px;
}

.epsc-num-field input {
    width: 60px;
    margin-right: 8px;
    margin-left: 3px;
}


.epsc-form-label {
    color: black;
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;

}

#epsc-form .epsc-form-label a {
    color: black;
}

.epsc-form-label a, .epsc-form-label a:hover {
    color: black;
    text-decoration:none;
    cursor:text;
}

.ccc2-text-area textarea {
    width: 500px;
    height: 40px;
}
.mode-text-area textarea {
    width: 500px;
    height: 200px;
}

.float-right .epsc-num-field {
    float: right;
}

/* Simulation */
.epsc-cell-param {
    width: 170px;
    font-weight: bold;
    background-color: #ddd;
}

.epsc-section {
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}

#epsc .epsc-cell-param a {
    color: black;
}

.epsc-cell-param a, .epsc-cell-param a:hover {
    color: black;
    text-decoration:none;
    cursor:text;
}

/* Run button */
#action-button {
    margin: 30px 10px;
}
.epsc-run-task {
    margin: 10px 10px 10px 10px;
    padding: 5px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    background-color: #48f640; /* deep green #1fff1f*/
}

#epsc a.epsc-run-task {
    color: black;
}
a.epsc-run-task {
    text-decoration: none;
    font-weight: normal;
}

/* Action buttons */
.epsc-action-create {
    padding: 1px 15px 3px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    margin-left: 0px;
    background-color: #FF7700;
}
a.epsc-action-create {
    text-decoration: none;
}

