/*  -*- CSS -*-  */

.ui-accordion .ui-accordion-content { 
    padding: 0.1em 0.2em;
}

.luban-toolbar {
}

.ui-widget {
}

.luban-document-title {
    font-size: 130%;
}

a.luban-link {
}

a.luban-link:hover{
}

#body-wrapper{
}


table.luban-splitter {
    width: 100%;
}

td.luban-splitter-section {
    vertical-align: top;
}

div h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    border-bottom: none;
}

#matterdoc {
    max-width: 100%;
    min-width: 70%;
}

#matterdoc {
    max-width: 100%;
    min-width: 70%;
}

#matterviewpanel {
    width: 30%;
}

#mattersimspanel {
    width: 70%;
}

#mattersimsdoc {
    width: 100%;
}

#matsimstablecontainer {
    min-height: 300;
    max-height: 600;
    overflow: scroll;
}

#mainframe-header {
    height: 50;
}

#mainframe-header table.luban-splitter{
    height: 100%;
}

#header-logo-container {
    background-color: red;
    background:transparent url(../images/logo2.png) no-repeat scroll 0 0;
    margin:0.75em 0 0.75em 1.5em;
    padding:0;
}

#header-logo-container a{
    color: transparent;
}

#header-title {
    text-align: center;
}

#header-title-container {
    vertical-align: bottom;
}

#header-title-container h1{
    font-size: 110%;
    font-family: "courier new";
    /*font-weight: bold;*/
    text-shadow: none;
    color: black;
}
    
#header-userinfo-container {
    vertical-align: bottom;
}

#header-userinfo-container a{
    font-size: 80%;
}

#header-userinfo{
    text-align: right;
}

.luban-page {
    margin: 5px 25px;
}


/* version */
/* $Id$ */

/* End of file  */
