/*  -*- CSS -*-  */

.ui-accordion .ui-accordion-content { 
    padding: 0.1em 0.2em;
}

.luban-toolbar {
}

.ui-widget {
}

.luban-document-title {
    font-size: 130%;
}

a.luban-link {
}

a.luban-link:hover{
}

#body-wrapper{
}


table.luban-splitter {
    width: 100%;
}

td.luban-splitter-section {
    vertical-align: top;
}

div h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    border-bottom: none;
}

p.hidden {
    color: transparent;
}


/* overload the default behavior of luban for input */
input {
    border-color: #cced8c;
    border-width: 2;
}


/* overload the default behavior of luban for buttons */
.luban-button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #eeeeee;
}

.luban-button img {
    margin: 5px;
    height: 27px;
}

.luban-button span {
    margin: 5px;
}

/* version */
/* $Id$ */

/* End of file  */
