<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
 <head >
  <base href="xxxBASExxx">
  </base>
  <style media="all" rel="stylesheet">
@import url(css/jquery/ui/smoothness/ui.all.css);
  </style>
  <style media="all" rel="stylesheet">
@import url(css/jquery/jquery.tooltip.css);
  </style>

  <style media="all" rel="stylesheet">
@import url(css/vnf-start.css);
  </style>

  <script src="javascripts/other/sprintf.js">

  </script>
  <script src="javascripts/jquery/excanvas.min.js">

  </script>
  <script src="javascripts/jquery/jquery.js">

  </script>
  <script src="javascripts/jquery/jquery.rightClick.js">

  </script>

  <script src="javascripts/jquery/jquery.bgiframe.js">

  </script>
  <script src="javascripts/jquery/jquery.tooltip.js">

  </script>
  <script src="javascripts/jquery/ui/ui.core.js">

  </script>
  <script src="javascripts/jquery/ui/ui.draggable.js">

  </script>
  <script src="javascripts/jquery/ui/ui.resizable.js">

  </script>

  <script >
$(function (){
});
  </script>
 </head>
 <body >
<table>
<tbody>
<tr>
<td>
  <div id="logo-container">
    Virtual Neutron Facility
  </div>
</td>
<td>

<!-- apps -->
<div>
  <a href="xxxCONTROLLERxxx?actor=material_simulations/phonons-public"
     target="_blank"
     >
    <img src="images/start-apps/bccFe-295-phonon-dispersion.png"
	 alt="Phonon dispersions" title="Phonon dispersions"
	 />
  </a>
</div>

<div>
  <a href="xxxCONTROLLERxxx?actor=instruments/arcs/login"
     target="_blank">
    <img src="images/instruments/ARCS_beam/middle-size-icon.png"
	 alt="ARCS" title="ARCS"
	 />
  </a>
</div>

<div>
  <a href="xxxCONTROLLERxxx?actor=login"
     target="_blank">
    <img src="images/vnf-logos/vnf.bw.png" 
	 alt="VNF main" title="VNF main"
	 />
  </a>
</div>

</td>
</tr>
</tbody>
</table>
 </body>
</html>

<!-- version-->
<!-- $Id$-->

<!-- End of file -->
