<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
 <head >
   <title>Virtual neutron facility -- start here</title>
  <base href="xxxBASExxx">
  </base>
  <style media="all" rel="stylesheet">
@import url(css/jquery/ui/smoothness/ui.all.css);
  </style>
  <style media="all" rel="stylesheet">
@import url(css/jquery/jquery.tooltip.css);
  </style>

  <style media="all" rel="stylesheet">
@import url(css/vnf-mainframe.css);
  </style>

  <style media="all" rel="stylesheet">
@import url(css/vnf-start.css);
  </style>

  <script src="javascripts/other/sprintf.js">

  </script>
  <script src="javascripts/jquery/excanvas.min.js">

  </script>
  <script src="javascripts/jquery/jquery.js">

  </script>
  <script src="javascripts/jquery/jquery.rightClick.js">

  </script>

  <script src="javascripts/jquery/jquery.bgiframe.js">

  </script>
  <script src="javascripts/jquery/jquery.tooltip.js">

  </script>
  <script src="javascripts/jquery/ui/ui.core.js">

  </script>
  <script src="javascripts/jquery/ui/ui.draggable.js">

  </script>
  <script src="javascripts/jquery/ui/ui.resizable.js">

  </script>

  <script >
$(function (){
(function ($) {

var entries = ["vnf-main", "struct-viewer", "disp-viewer", "arcs-apps"];
var urls = [
 "xxxCONTROLLERxxx?actor=login"
 ,"xxxCONTROLLERxxx?actor=atomicstructure-public&routine=start"
 ,"xxxCONTROLLERxxx?actor=material_simulations/phonons-public&routine=start"
 ,"xxxCONTROLLERxxx?actor=instruments/arcs/login"
 ];

var showPreview = function(entry) {
  $("#preview-img").attr("src", "images/start-apps/"+entry+".png");
  $('#preview').unbind('click');
  $("#preview").click(createOpenUrlCallback(url));
};

var createHoverCallback = function(entry, url) {
  var f = function () { showPreview(entry, url); return false;};
  return f;
};

var createOpenUrlCallback = function(url) {
  var f = function () { window.open(url); return false;};
  return f;
};

for (var i=0; i<entries.length; i++) {
  var entry  = entries[i];
  var url = urls[i];

  var hovercallback = createHoverCallback(entry, url);
  $("#"+entry).hover(hovercallback);
  $("#"+entry+"-info").hover(hovercallback);

  var openurlcallback = createOpenUrlCallback(url);
  $("#"+entry).click(openurlcallback);
  $("#"+entry+"-info").click(openurlcallback);
}

})(jQuery);
});
  </script>
 </head>
 <body >

<div id="header-frame">
  <img src="images/vnf-logo.png"/>
</div>

<div id="body-wrapper">
<table>
<tbody>
<tr id="preview-row">
<th colspan="4">
<div id="preview">
<img id="preview-img" src=""/>
</div>
</th>
</tr>
<tr id="apps-row">
<td id="vnf-main">
<div>
vnf
</div>
</td>
<td id="struct-viewer">
<div>
atomic structures
</div>
</td>
<td id="disp-viewer">
<div>
phonon dispersions
</div>
</td>
<td id="arcs-apps">
<div>
  arcs applications
</div>
</td>
</tr>

<tr id="apps-info">
<td id="vnf-main-info">
The Virtual Neutron Facility (VNF) is an online tool that allows users to perform end-to-end, full simulations of neutron scattering experiments. It integrates scientific software packages for material simulations with Monte-Carlo simulations of neutron scattering to gain insights into material properties.
</td>

<td id="struct-viewer-info">
In this application one can browse public records of atomic
structures in the VNF, and view them in 3D.
</td>

<td id="disp-viewer-info">
In this application one can browse public records of phonons
in the VNF, and view dispersion plots.
</td>

<td id="arcs-apps-info">
This is the portal to VNF applications for the ARCS instrument.
</td>

</tr>

</tbody>
</table>

</div> <!-- body wrapper -->

 </body>
</html>

<!-- version-->
<!-- $Id$-->

<!-- End of file -->
